.login-page{
    
    /* display:flex;
    flex-direction:column; */
    width:100%;
    
    background:linear-gradient(10deg, rgb(25, 25, 25),rgb(25, 25, 25),rgb(57, 56, 56),rgb(74, 74, 74));
    overflow-y:scroll;
    background-attachment:local;

}

.title-container{
    height:100dvh;

}

.login-container{
    
    display:flex;
    flex-direction:column;
    align-items:center;
    
    justify-content:flex-start;
    padding-top:60%;
    width:100%;
    gap:25px;
    height:100dvh;
   

    

}


.typing-text{
    
    white-space:nowrap;
    overflow:hidden;
   
    width:fit-content;
    
}
.typing-1{
    font-size:2.5rem;
    animation:typing 0.5s ease-out forwards ;
}
.typing-2{
    border-right:2px solid var(--primary-text-color);
    font-size:1.5rem;
    width:0;
    animation:typing2 1s steps(18,end) 0.8s forwards, blink-caret 1s step-end  infinite alternate ;
}


@keyframes typing{
    from{width:0}
    to{width:100%}
}
@keyframes typing2{
    from{width:0}
    to{width:100%}
}

@keyframes blink-caret{
    0%, 100%{
        border-color:transparent
    }
    50%{border-color:var(--primary-text-color)}
}
