

.scanner{
    border-radius:20px !important;
    height:200px;
    overflow:hidden;
}


.scanner video{
    width:100% !important;
    height:100% !important;
    object-fit:cover;
}

.bg-green-ocean {
    background-color:rgb(17, 100, 141);
}