.server-message{
    position:fixed;
    top:20px;
    left:50%;
    transform:translateX(-50%);
    min-width: 100px;
    min-height:30px;
    max-width:350px;
    max-height:300px;
    
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
   
    z-index:100;
    padding: 8px 10px;
    border-radius:5px;

    animation: slideDown 0.3s ease-out;
    transition: top 0.5s ease;
    
    svg{
        width:25px;
        height:25px

    }
}
#serverMessageBody{
    overflow:hidden;
    max-height:0;
    width:0;
    transition:all 0.5s ease;
}

.slide-up{
    animation:slideUp 0.3s ease-in forwards;
}

.server-message.alert{
    background-color:rgb(170, 163, 34);
}
.server-message.sucess-offline{
    background-color:rgb(30, 107, 145);
}
.server-message.success{
    background-color:rgb(30, 145, 78);
}
.server-message.error{
     background-color:rgb(156, 56, 56);
}


@keyframes slideDown{
    from {
        transform:translateX(-50%)
                    translateY(-100%);
        opacity:0

    }
    to{
        transform:translateX(-50%)
                    translateY(0);
        opacity:1
    
    }
}
@keyframes slideUp{
    from{
        transform:translateX(-50%)
                    translateY(0%);
        opacity:1
    }
    to{
        transform:translateX(-50%)
                    translateY(-100%);
        opacity:0
    }
}


